# Python environment
__pycache__/
*.py[cod]
*$py.class

# Telethon Sessions (Sensitive Data)
*.session
*.session-journal

# Rendered Outputs
temp_rendered/
downloads/

# Logs and OS files
*.log
.DS_Store
Thumbs.db